.login {
    width: 100%;
    min-height: 100vh;

    .login-left {
        float: left;
        width: 30%;
        min-height: 100vh;
        border-right: 2px solid rgba(213, 211, 211, 0.1);
        background-color: #044c90;

        .login-left-info {
            padding: 40px;

            :first-child {
                color: #fff;
                font-size: 40px;
                font-weight: 400;
            }

            span {
                display: inline-block;
                font-size: 14px;
                margin-top: 10px;
                line-height: 1.8;
                color: hsla(0, 0%, 100%, .6);
            }
        }
    }

    .login-right {
        position: relative;
        width: 70%;
        min-height: 100vh;
        float: right;
        background-color: rgb(255, 255, 255);
        background-image: url("../../assets/login-banner.png");
        background-repeat: no-repeat;
        background-position: -15% 427px;

        .login-form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            margin-top: -220px;
            width: 460px;
            height: 400px;
            padding: 25px 30px;
            background-color: rgba(213, 211, 211, 0.1);
            border-radius: 4px;

            & h4 {
                text-align: center;
                margin: 0 0 25px 0;
            }
        }

        .info {
            position: absolute;
            bottom: 0;
            left: 45%;
        }
    }
}

.login-form-forgot {
    float: right;
}

.ant-input-affix-wrapper {
    height: 40px;
}